
@import "components/normalize";

/* GENERAL */
html,
body {
  height: 100%;
}

body {
  background: #fff;
}

body,
input,
textarea {
  color: #191919;
  font: 14px/140% Helvetica, sans-serif;
}

a {
  color: #119bdf;
  text-decoration: none;
}
a:hover {
  color: #29aeef;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
p,
ul,
code {
  margin: 0 0 18px;
}

code {
  font-family: 'Monaco', monospace, sans-serif;
}

/* SIDEBAR */
#sidebar {
  float: left;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 240px;

  background: #191919;
  color: #f5f5f5;

      h2 {
        color: #888;
        font-size: 14px;
        margin: 0 0 12px;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 1px dotted #474747;
      }
      ul {
        list-style: none;
        margin: 4px 0 12px;
        padding: 0;
      }
       ul#links {
        padding: 20px;
      }
      ul li a {
        color: #E0E0E0;
        display: block;
        padding: 0 0 3px 0;
      }
      ul li a:active,
      ul li a:focus,
      ul li a.active {
        color: #fff;
        text-decoration: underline;
      }

      /* Search form */
        input {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          background: #444;
          border: 0;
          border-radius: 2px;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          color: #ddd;
          margin-bottom: 20px;
          padding: 8px 10px;
        }
        input:active,
        input:focus {
          border-color: #ccc;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
          outline: none;
        }
}



/* References */
#content {
  padding: 0 20px 20px 20px;
  padding-left: 260px;
  padding-right: 30px;
  width: auto;

    .control {
      cursor: pointer;
      font-size: 12px;
      margin-left: 15px;
      line-height: 3;
    }
    .control:first-child {
      margin-left: 0;
    }

    article {
      clear: both;
      margin: 15px 0;

        > .heading-wrap {
          background: #262626;
          border-radius: 2px;
          cursor: pointer;
          display: block;
          padding: 12px;
          margin-bottom: 1.6em;

          &:hover {
            background: #222;
            text-decoration: none;
          }

          h1 {
              color: #fff;
              font-size: 18px;
              font-weight: normal;
              margin: 0;
              line-height: 1;

                code {
                  float: right;
                  font-size: 14px;

                    b {
                      border-radius: 2px;
                      -moz-border-radius: 2px;
                      -webkit-border-radius: 2px;
                      color: #fff;
                      font-weight: normal;
                      padding: 3px 6px;
                    }
                    i {
                      border-radius: 2px;
                      -moz-border-radius: 2px;
                      -webkit-border-radius: 2px;
                      color: #fff;
                      font-weight: normal;
                      padding: 3px 6px;
                    }

                }
          }

        }

    }
}


#content article a h1 * {
  color: #657e8b;
}

#content article a h1 code b {
  background: #657e8b;
  text-transform: uppercase;
}

#content article a h1 code i {
  background: #657e8b;
  text-transform: lowercase;
	font-style: normal;
}

/* GET */
.heading-wrap.GET   code {
  color: #119bdf;
}

.heading-wrap.GET   code b {
  background: #119bdf;
}

/* POST */
.heading-wrap.POST   code {
  color: #52ce0e;
}

.heading-wrap.POST code b {
  background: #52ce0e;
}

/* PUT */
.heading-wrap.PUT code {
  color: #e08f10;
}

.heading-wrap.PUT code b {
  background: #e08f10;
}

/* DELETE */
.heading-wrap.DELETE a h1 code {
  color: #e02a10;
}

.heading-wrap.DELETE a h1 code b {
  background: #e02a10;
}

#content .body {
  border-top: 1px solid #eef1f2;
  display: block;
  padding: 14px 2px;

  p, table {
    margin-right: 2em;
  }

}

.inline-code {
  border: 1px solid #e2e7ea;
  background: #eef1f2;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #546974;
  padding: 0 1px;
}

p > .inline-code{
  display: block;
  padding: 15px;
  white-space: pre;
}

.api-article {
    p {
      padding-right: 2.8em;
    }
}

/* ==========================================================================
   API BANNER
   ========================================================================== */
.api-header {
  position: relative;
  text-align: center;
  margin-left: 240px;
  padding: 1.4em 0 1.4em;

  h1 {
    margin: 0.5em 0 0;
    font-size: 19px;
    color: #333;
  }
}

/* ==========================================================================
   TABLES
   ========================================================================== */

.table {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-bottom: 2em;

    thead {
        border-bottom: 1px solid #ccc;
        background: #FCFCFC;

        th {
            text-align: left;
            color: #000;
            background: #F4F4F4;
        }
    }

    th, td {
        vertical-align: top;
        padding: 8px 2px;
        color: #555;
    }

    tbody th,
    tbody td {
        font-size: inherit;
        border-bottom: 1px dotted #ddd;
    }

    tr:nth-child(even) {
        background: #EEF1F2;
    }

    tbody tr:last-child td {
        border-bottom: 1px solid #ccc;
    }
}


/* ==========================================================================
   CODE BLOCK
   ========================================================================== */

.highlight {
    margin: 20px 0 !important;

    pre {
        padding: 0.8em;
        border-radius: 2px;
    }
}


