---
layout: default
title: Help and Support | Cloud 66
bodyclass: home
---

<!-- ===== Home banner & primary search ===== -->
{% include banner.html %}
{% include hero_nav.html %}
{% include search_primary.html %}
<!-- ===== /Home banner & primary search ===== -->

<!-- ===== START TOC - CATS & POSTS ===== -->
<section class="container article-toc" id="js-primary-content">

    {% for category in site.sorted_categories %}
	{% if category.first != 'api' %}
    {% if category.first == 'ssh' or category.first == 'ssl' or category.first == 'dns' %}
      <h2 class="cat-title-caps js-format-cat">
        {{ category | first }}
      </h2>
    {% else %}
      <h2 class="cat-title js-format-cat">
        {{ category | first }}
      </h2>  
    {% endif %}

    <nav class="toc">
      <ul>
        {% for post in category.last %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
	{% endif %}
    {% endfor %}
</section>
<!-- ===== /START TOC - CATS & POSTS ===== -->
