---
layout: default
title: Help and Support | Cloud 66
bodyclass: home
---

<!-- ===== Home banner & primary search ===== -->
{% include banner.html %}
{% include hero_nav.html %}
{% include search_primary.html %}
<!-- ===== /Home banner & primary search ===== -->

<!-- ===== START TOC - CATS & POSTS ===== -->
<section class="container article-toc" id="js-primary-content">

    {% for category in site.sorted_categories %}
	{% if category.first == 'api' %}
    <h2 class="cat-title">
		<a href="/api">API</a>
    </h2>
	{% else %}
    <h2 class="cat-title js-format-cat">
      {{ category | first }}
    </h2>

    <nav class="toc">
      <ul>
        {% for post in category.last %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
	{% endif %}
    {% endfor %}
</section>
<!-- ===== /START TOC - CATS & POSTS ===== -->
