<section class="heros container t-center">
    <nav>
        <a href="/introduction-to-cloud-66/introduction.html">
            <i class="gen-enclosed foundicon-idea"></i>
            <h2 class="hero-title">Get started</h2>
        </a>
        <a href="#">
            <i class="gen-enclosed foundicon-cloud"></i>
            <h2 class="hero-title">Help</h2>
        </a>
        <a href="#">
            <i class="gen-enclosed foundicon-cloud"></i>
            <h2 class="hero-title">Tech specs</h2>
        </a>
        <a href="/api/basics/basics.html">
            <i class="gen-enclosed foundicon-tools"></i>
            <h2 class="hero-title">API docs</h2>
        </a>
    </nav>
</section>