<section class="heros container t-center">
    <nav>
        <a href="/getting-started/introduction.html">
            <i class="gen-enclosed foundicon-idea"></i>
            <h2 class="hero-title">Getting Started</h2>
        </a>
        <a href="/how-to/introduction.html">
            <i class="gen-enclosed foundicon-cloud"></i>
            <h2 class="hero-title">Tutorials</h2>
        </a>
        <a href="/api/basics/basics.html">
            <i class="gen-enclosed foundicon-tools"></i>
            <h2 class="hero-title">API Docs</h2>
        </a>
    </nav>
</section>