<div class="header-nav-bar">
    <div class="container">
        <form action="/help/search.json" method="get" class="pull-left js-search-form">
            <input type="search" id="q-top" name="query" placeholder="Search" class="top-search js-typeahead" autocomplete="off">
        </form>

        <nav class="global-nav pull-right">
            <a href="/chat">Live Chat</a><!--
         --><a href="mailto:ek5q0n7o@incoming.intercom.io">Get Support</a>
        </nav>
    </div>
</div><!-- /.header-nav-bar -->