---
layout: post
template: two-col
title:  "Two-step verification"
nav_sticky: true
nav: true
nav_prev: "/your-account/team-accounts.html"
nav_next: ""
date:   2030-09-24 10:51:22
categories: your-account
lead: Using two-step verification with your account
search-tags: ['']
tags: ['Your account']
---

## Usage

You can make your Cloud 66 account more secure by enabling two-step verification from the _Account_ menu:
![TFA enable](http://cdn.cloud66.com/images/help/tfa_enable.png)

This will ask you to install the Google Authenticator application on your phone:
![TFA install](http://cdn.cloud66.com/images/help/tfa_installer.png)

Finally, you just need to scan the barcode to get a verification code:
![TFA verify](http://cdn.cloud66.com/images/help/tfa_verifier.png)

## Recovery

We suggest that you add your phone number on the _Account_ menu to recover your account should you at some point not be able to access your verification codes on your phone:
![TFA phone](http://cdn.cloud66.com/images/help/tfa_phone.png)

If you haven't added your phone number and are locked out, please <a href="mailto:support@cloud66.com">contact support</a> from the email address you are registered with and we'll take you through a security procedure.