/* ===========================================================================================
 *  LAYOUT
 * ============================================================================================ */

/*
 *  Fixed Top Global Nav bar
 * --------------------------------------------------------- */
.header-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0.6em 0;
  background: $topbarbg;
  border-bottom: 1px solid #DBDBDB;

  nav {
    line-height: 1;
  }
}

/*
 *  Centered Container
 * --------------------------------------------------------- */
.container {
    @include clearfix;
    margin: 0 auto;
    max-width: $maxwidth + $gutter;
}


/*
 *  2 column layout
 *  1024 and above 2 col layout
 * --------------------------------------------------------- */
@media only screen and (min-width : 1024px) {

    .two-col {

        .content-pri {
            float: left;
            width: $maxwidth - $sidebarwidth;
            outline: 1px solid red;
        }

        .content-sec {
            float: right;
            width: $sidebarwidth;
        }

    }

}

.one-col {
    .content-sec {
        display: none !important;
    }
}



/*
 *  Top margin to account for fixed position nav bar
 * --------------------------------------------------------- */
[role="banner"],
.crumbs {
  margin-top: 4.6em;
}

/*
 *  Logo
 * --------------------------------------------------------- */
 [role="banner"] a:hover { text-decoration: none; }
.logo {
  width: 60px;
}
.logo-sml {
  position: relative;
  top: -14px;
  right: 3px;
}

/*
 *  Home Primary Search
 * --------------------------------------------------------- */
.search-pri {
  margin-top: $gutter;
  background: #FCFCFC;
  padding: 2em 0;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
}

.article-toc {
    margin-bottom: 2.2em;
}
.article {
   margin-bottom: 1.2em;
}

/*
 *  Footer
 * --------------------------------------------------------- */
[role="contentinfo"] {
  padding: 1em 0;
  border-top: 1px solid #DBDBDB;
}

/*
 *  Modules
 * --------------------------------------------------------- */
.notice {
  border-top: 1px solid #e2eaee;
  border-bottom: 1px solid #e2eaee;
  background: rgba( 209, 228, 240, 0.3 );
  padding-left: 1em;
  padding-right: 1em;
  margin-left: -1em;
  margin-right: -1em;

  p:nth-child(2) {
    margin-top: -0.4em;
  }
}

.notice.notice-danger {
  color: #BC9DD1;
  background: #FCF2F2 !important;
  border-top: 1px solid #DFB5B4;
  border-bottom: 1px solid #DFB5B4;
  .error {
    background: transparent;
  }
}
.notice.notice-warning {
  background: #FEFBED !important;
  border-top: 1px solid #EFE1A7;
  border-bottom: 1px solid #EFE1A7;
}



