/* ===========================================================================================
 *  NAV
 * ============================================================================================ */

/*
 *  homepage nav
 * --------------------------------------------------------- */
nav {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.global-nav {
    display: inline-block;
    margin-top: 7px;
    font-size: 1.3rem !important;
    > a {
        display: inline-block;
        line-height: 1;
        padding: 0 0.66em;
        border-right: 1px solid #bbb;
    }
    :first-child {
        padding-left: 0;
    }
    :only-child,
    :last-child {
        border-right: none;
        padding-right: 0;
    }
}

/*
 *  side nav (nav-sec)
 * --------------------------------------------------------- */
.nav-sec {
    padding: 0 !important;
    outline: 1px solid red;

    li {
        list-style: none !important;
        font-size: 13px !important;
        line-height: 1.4 !important;
    }

    a:hover {
        text-decoration: none;
    }
}

/*
 *  toc nav
 * --------------------------------------------------------- */
.toc {
    a:link {
        text-decoration: none;
        font-size: 1.5rem;
        color: #0088cc;
    }

    a:visited {
        color: #00A3F4;
    }

    a:hover {
        color: #005580;
    }

    a:focus {
        background: #FFFFCC;
    }

    a:active {
        color: #CC0000;
    }
}

/*
 *  breadcrumb nav
 * --------------------------------------------------------- */
.crumbs {
    border-bottom: 1px solid #ddd;
    padding: 0.2em 0 1em;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    a {
        position:relative;
        left: -19px;
        font-size: 1.5rem;
        line-height: 1;
    }
    a:hover {
        text-decoration: none;
    }
}
.crumbs-bottom {
    padding-top: 1em;
    border-top: 1px dotted #ddd;
    border-bottom: none;
}

.back-ico {
    display: inline-block;
    line-height: 1;
    width: 13px;
    height: 13px;
    background: url('/images/ico_back.svg');
    background-size: contain;
    position: relative;
    // top: 1px;
}