/*
 *  Handheld devices
 *  Very minimal rules for handheld devices
 * --------------------------------------------------------- */

@media ( max-width: 600px ) {

   html                     { font-size: 52.5%; }
  .container                { padding-left: 0.4em; padding-right: 0.4em; }
  .crumbs > a               { padding-left: 0.4em; }
  .global-nav               { display: none !important }
  .search-pri-box .btn-img  { display: none !important }
  .lead                     { font-size: 2.3rem !important; line-height: 28px !important; }

}