<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

    <link rel="shortcut icon" href="//d563vzkt1q0lu.cloudfront.net/images/favicon.ico">
    <link rel="stylesheet" href="/css/syntax.css">
    <link href='/css/api.css' rel='stylesheet' type='text/css'>

    <title>API Documentation | Help | Cloud 66</title>
</head>

<body>

    {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src='/js/api_base.js?buster=1' type='text/javascript'></script>
    <script>
        window.jQuery || alert('jquery not loaded from CDN')
        CB.api.init();
    </script>
</body>
</html>
