---
layout: default
bodyclass: post
---

<nav class="crumbs container">
    {% include contents_link.html %}
    <img src="{{ site.url }}/images/logo.svg" alt="Cloud 66" width="40" class="pull-right logo-sml">
</nav>

<article class="article container">

    <h1 class="article-title">
        {{ page.title }}
    </h1>

    <p class="lead">
        {{ page.lead }}
    </p>

    <div class="content-pri">
        {{ content }}
    </div>

    <aside class="content-sec">
        <nav class="aside-mod">
            <ul class="nav-sec">
                <li>
                    <a href="#">Cloud Backup</a>
                </li>
                <li>
                    <a href="">File Rotater</a>
                </li>
            </ul>
        </nav>
    </aside>

</article>

<nav class="crumbs crumbs-bottom container">
    {% include contents_link.html %}
</nav>
