---
layout: default
bodyclass: post
---

{% assign current_cat = page.categories %}

<nav class="crumbs container">
    {% include contents_link.html %}
    <a rel="home" href="/">
        <img src="{{ site.url }}/images/logo.svg" alt="Cloud 66" width="40" class="pull-right logo-sml">
    </a>
</nav>

<article class="article container">

    <h1 class="article-title">
        {{ page.title }}
    </h1>


    <p class="lead">
        {{ page.lead }}
    </p>


    <div class="content-pri">
        {{ content }}
    </div>

    <aside class="content-sec">
        <nav class="aside-mod {% if page.nav_sticky %} sticky-nav {% endif %}">
            <h3 class="side-title js-format-cat">
                {{ current_cat }}
            </h3>
            <ul class="nav-sec">
                {% for post in site.categories[current_cat.first] | order:ascending %}
                    <li>
                        <a href="{{post.url}}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

</article>


<div class="crumbs crumbs-bottom container">
    <nav class="nav-footer">
    {% include contents_link.html %}

    {% if page.nav %}
        {% include paging_link.html %}
    {% endif %}
    </nav>
</div>



